/* Styles for the navbar */
.navbar {
  transition: top 0.3s ease-in-out; /* Add a smooth transition effect */
  padding: 10px;
}

/* Styles for the collapsed navbar toggler */
.navbar-toggler {
  background-color: transparent;
}
 
body {
  padding-top: 90px; /* Adjust according to the height of your navbar */
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  }
